
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:700,400);

html, body{
	height: 100%;
	min-height: 100%;
}

.table-responsive hr{
  border-color: #000;
}

@media screen and (max-width: 767px) {
  a.social-bug img, a.social-bug{
    padding-bottom: 3em;
  }
  .centred{
    text-align: center;
  }
  .flex-header img.mini{
    padding-top: 0.75em;
  }
  p{
    text-align: justify;
  }
}

@media screen and (min-width: 768px){
  .navbar-nav>li {
    border-right: 1px solid hsla(345, 6%, 19%, 1);
  }
  .navbar-nav>li:hover {
    background: hsla(345, 6%, 19%, 1);
  }
  .navbar-nav>li.store{
    padding: 0 16px;
    background: #d6ba75 !important;
    border-radius: 4px;
  }
  .navbar-nav>li.store a{
    text-shadow: 0 0.125rem 0.125rem rgba(50,50,50,0.16);
    font-weight: 600;
    font-size: 1.125em;
  }
}

section#about img{
  height: 16em;
}

section#services table.table thead tr th:nth-of-type(2), section#services table.table tbody tr td:nth-of-type(2) {
  text-align: right;
}

.righty, table.t-righty tr td:nth-of-type(2){
  text-align: right;
}

.flex-header{
  display: flex;
  justify-content: space-between;
}

.flex-header h2{
  display: inline;
}

.flex-header img.mini{
  height: 4.75em;
  display: inline;
}

.alert{
  z-index: 100 !important;
}

body{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.alert{
  margin-bottom: 0px !important;
}

.navbar-brand{
	font-family: 'Droid Serif' !important;
	color: #fff !important;
}

.navbar-default{
	background: #231F20 !important;
}

.navbar{
    margin-bottom: 0px !important;
    border: 0px !important;
    border-radius: 0px !important;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}

.navbar-toggle{
    border: 0px !important;
    border-radius: 0px !important;
}

.icon-bar {
    background-color: #fff !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #d6ba75 !important;
}

header{
    position: relative;
    height: 600px;
    background: url(../img/bg.jpg);
    background-size: auto 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.logo{
  height: 240px;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -90px;
}

.parabox>.logo>img {
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.parabox>.logo>div.store{
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 200px;
  background: #d6ba75 !important;
  border-radius: 4px;
}
.parabox>.logo>div.store a:hover{
  border-radius: 4px;
  background: #c8a346;
}
.parabox>.logo>div.store a{
  text-shadow: 0 0.125rem 0.125rem rgba(50,50,50,0.16);
  font-weight: 600;
  font-size: 1.25em;
  color: white !important;
  text-align: center;
  display: block;
  padding: 20px;
}

.pagelet, #intro{
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 4px solid rgb(232, 226, 181);
    border-top: 4px solid rgb(232, 226, 181);
    background-color: #f1f1f1;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.50);
}
@media screen and (min-width: 992px) {
  section#about section.row-fluid{
    display: flex;
  }
  section#about section.row-fluid .col-md-3{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.col-md-3>img.feature{
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;
}

section.module.parallax {
  padding: 240px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
section.module.parallax h1 {
  color: #E8E2B5;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(20,20,20,0.35);
}

section.module.parallax.para-1 {
  background-image: url(../img/para-1-bg.jpg);
  background-position: bottom center;
  background-attachment: fixed;
  overflow: hidden;
}

section.module.parallax.para-2 {
  background-image: url(../img/para-2-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

section.module.parallax.para-3 {
  background-image: url(../img/para-3-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

@supports (-webkit-overflow-scrolling: touch) {
  section.module.parallax, header{
    background-attachment: scroll !important;
    max-height: 120vh;
  }
}